name: run main.py

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */5 * * *' # هر 5 ساعت

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # ← اضافه کردن این خط
          
      - name: Debug – list files
        run: ls -R
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wget jdatetime requests tldextract beautifulsoup4 geoip2 dnspython pycountry_convert
          
      - name: Run main.py
        env:
          SOME_SECRET: ${{ secrets.SOME_SECRET }}
        run: python main.py

      - name: Check for changes
        id: check_changes
        run: |
          git diff --quiet && echo "changed=false" >> $GITHUB_OUTPUT || echo "changed=true" >> $GITHUB_OUTPUT

      - name: Pull latest changes
        if: steps.check_changes.outputs.changed == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull --rebase origin main || true

      - name: Commit changes
        if: steps.check_changes.outputs.changed == 'true'
        run: |
          git add -A
          git diff-index --quiet HEAD || git commit -m "✔️ $(date '+%Y-%m-%d %H:%M:%S')"
          
      - name: Push changes
        if: steps.check_changes.outputs.changed == 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          force: false
