name: run main.py

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */5 * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0   # ⭐ مهم برای rebase

      - name: Debug – list files
        run: ls -R

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wget jdatetime requests tldextract beautifulsoup4 geoip2 dnspython pycountry_convert

      - name: Run main.py
        env:
          SOME_SECRET: ${{ secrets.SOME_SECRET }}
        run: python main.py

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || git commit -m "✔️ $(date '+%Y-%m-%d %H:%M:%S')"

      - name: Pull latest changes (rebase)
        run: |
          git pull origin main --rebase

      - name: Push changes
        run: git push origin main
